body {
    background: rgb(12, 12, 14);
    background-image: url(backkground-imag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.CodeSoft {
    margin:40px;

}
.title {
    margin-left: 30px;
}
ul {
    margin-left: 35px;
}
li {
    margin: 5px;
    padding: 3px;
}




.expDes{
    display: inline-block;
    width: 100%;
    backdrop-filter: blur(5px);
    color: rgb(196, 201, 205);
    border: 2px;
    border-radius: 10px;
    border-color: rgb(58, 67, 93);
    border-style: solid;
    
}


.expDes:hover {
    backdrop-filter: blur(50px);
    span {
        color : rgb(223, 73, 46);
    }
    border-color:  rgb(102, 115, 153);
    color: rgb(244, 245, 246) ;
}
.gitcode {
    float: right;
}
.verify {
    display: inline-block;
    color: aliceblue;
}

.experiencehead {
    font-size: 30px;
    color: aliceblue;

}

















/* from style.css */
svg{
    display: inline-block;
    padding-top: 10px;
}
.nav-elements{
    text-decoration: none;
    color: white;
    margin: 10px;
}
.nav-elements:hover{
    color: blue;
}
.nav-bar{
    display: inline-block;

    
}
.main-cover{
    display: grid;
    grid-template: 50px auto/ 58px auto;
    gap: 30px;
}
.container1{
    grid-column: 2;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    
}
.container1 > div{

    
    width: 70px;
    height: 60px;
    flex-grow: 1;
    flex-shrink: 0;
    border-radius: 5px;
}

.container2{
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
}
.container2 > div{

    margin: 10px;
    border-radius: 50px;
    padding-left: 4px;
}
.container2>div:hover{
    background-color: rgb(83, 83, 125);
    transition: 0.5s;
}

.blue{
    color: blue;
}
.yellow{
    color: yellow;
}
.small-text{
    font-size: x-small;
}